/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto&display=swap');
/*
header font
font-family: 'Chelsea Market', cursive;

body font
font-family: 'Roboto', sans-serif;
*/

/* Beginning of CSS reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
    }
/*End of CSS reset*/

/*General styling*/
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
  }
html{
    font-size:62.5%;
  }
body{
    line-height:2;
    font-size:1.5rem;
    font-family: 'Roboto', sans-serif;
  } 
h1{
    font-family: 'Chelsea Market', cursive;
    letter-spacing:3px;
    padding:4% 0;
    font-size:6rem;
  }
h2{
    font-size: 3rem;
}


/*Guide button styling*/
.button {
    margin: 0 25px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    width: 150px;
  }
.button:hover {
    opacity: 0.75;
    color: black;
  }
.plan-button {
    background-color: #ff764e;
    opacity: 1;
    transition: 0.3s;
  }
.learn-button {
    background-color: #5ed3eb;
    opacity: 1;
    transition: 0.3s;
  }
.volunteer-button {
    background-color: #ffcd69;
    opacity: 1;
    transition: 0.3s;
  }